<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProgressViewOuterColor</key>
	<string>0,0,0,0</string>
	<key>ProgressViewInnerColor</key>
	<string>178.0,134.0,59.0,1.0</string>
	<key>ProgressViewEmptyColor</key>
	<string>184.0,184.0,184.0,1.0</string>
</dict>
</plist>
